ul {
    display: flex;
    gap: 32px;
    list-style-type: none;
}

body {
    height: 300vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.top {
    background-color: #1f2937;
    padding: 0px 250px 125px 250px;
    color: #f9faf8;
    font-family: 'Courier New', Courier, monospace;
}

.top-photo {
    background-color: #a5a5a5;
}

.greeting div, .top-photo {
    flex: 1;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}

.greeting {
    display: flex;
}

.subtext {
    color: #e5e7eb;
    font-size: 18px;
}

.main-top-text {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.sign-up-button {
    background-color: #3882f6;
    color: #f9faf8;
    width: 200px;
    height: 50px;
    border: 0;
    font-size: 24px;
    border-radius: 15px;
    font-weight: bold;
}

.quote {
    background-color: #e5e7eb;
}

.footer {
    background: #1f2937;
}
